<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" [routerLink]="['/']">TOTL</a>
    </div>
    <div class="flex-none" *ngIf="data.loggedIn; else loggedOut">
      <div *ngIf="data as user" class="menu menu-horizontal px-1">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img [src]="user.picture" />
            </div>
          </label>
          <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <a class="justify-between" [routerLink]="'/user/'+user.name">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a><app-logout-button></app-logout-button></a></li>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #loggedOut>
      <ul class="menu menu-horizontal px-1">
        <li>
          <app-login-button></app-login-button>
        </li>
      </ul>
    </ng-template>
  </div>
</header>