<!-- <div class="bg-slate-600 m-2 p-2 grid grid-col-2 text-xs bg-gradient-to-r" [ngClass]="tier.bg ?'from-'+tier.bg+'-500' : ''" [attr.data-tooltip]="tier.text"> -->
<!-- <div class="bg-slate-600 m-2 p-2 grid grid-col-2 text-xs bg-gradient-to-r" [ngClass]="'from-'+color+'-500'" [attr.data-tooltip]="tier.text"> -->
<div class="bg-slate-600 m-2 p-2 grid grid-col-2 text-xs " 
[ngStyle]="{'background-image': 'url(./assets/i/'+color+'.png)', 'background-size': '100px 100px'}"
[attr.data-tooltip]="tier.text" >
<!-- <div class="bg-slate-600 m-2 p-2 grid grid-col-2 text-xs bg-gradient-to-r" [ngClass]="{'background': color}" [attr.data-tooltip]="tier.text"> -->
<!-- <div class="bg-slate-600 m-2 p-2 grid grid-col-2 text-xs bg-gradient-to-r" [ngStyle]="{'background':'linear-gradient(to right, '+color+', transparent)'}" [attr.data-tooltip]="tier.text"> -->
        <!-- from-{{tier.bg}}-500 -->
    <img class="w-16 h-16"src="{{tier.image}}"/>
</div>