<form *ngIf="showNewTier" class="add-form" (ngSubmit)="onSubmit()">
    <!-- <div class="form-control">
        <label for="text">Tier</label>
        <input type="text" name="text" [(ngModel)]="title"
        id="text" placeholder="Add Tier">
    </div>
    <div class="form-control">
        <label for="text">Day & Time</label>
        <input type="text" name="day" [(ngModel)]="tier" id="day" placeholder="Add Day and Time">
    </div>
    <input type="submit" value="Save Tier" class="btn btn-block"> -->
</form>