<div *ngIf="userData.loggedIn; else login" class="p-4 flex justify-center">
    <div class="form-control w-full max-w-xs">
        <label class="label">
            <span class="label-text">Tier list name</span>
        </label>
        <input type="text" [(ngModel)]="title" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        <label class="label">
            <span class="label-text">Tier list genre or game</span>
        </label>
        <input type="text" [(ngModel)]="game" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        <div *ngIf="!submitted; else redirect">
            <button (click)="validateAndSubmit()" type="submit" class="btn">Make it happen!</button>
        </div>
        <ng-template #redirect>
            <a [routerLink]="['/tierlist/'+newTotalRow]" class="btn">Go to the page!</a>
        </ng-template>
    </div>
</div>
<ng-template #login>
    <app-login-hero></app-login-hero>
</ng-template>