<div class="flex items-center justify-center self-stretch w-28 rank-tile" [ngStyle]="{'background': colors[i]}">
    <p class="text-black">{{rank}}</p>
</div>
<ul [id]="rank.toString()" class="flex flex-wrap h-full w-full tier-row" cdkDropList [cdkDropListData]="tier"
    (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
    <div class="h-28"></div>
    <app-tier-item [id]="tierItem.title" class="flex pl-2 tier-item" *ngFor="let tierItem of tier;" [tier]="tierItem"
        cdkDrag [color]="getItemGradient(tierItem.kind)" [opacity]="opacity">
    </app-tier-item>
</ul>
