/* .rank-tile{
    min-width: 120px;
} */


.tier-item{
    max-width: 100px;
}

@media (max-width: 700px) {
    .tier-item{
        width: 80px;
        height: 80px;
    }
    .rank-tile{
        width: 40px;
    }
    ul.tier-row{
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

p{
    display: flex;
    align-items: center;
}