 <div class="flex items-center justify-center" *ngIf="tierPipe$ | async as tierData " >
    <ul class="w-2/4"
    cdkDropListGroup
    > 
    <app-submit-button (onClickedSubmit)="onSubmit()"/>
    <!-- <ul class="w-1/3"*ngIf="colorPipe$ | async as colorData">  -->
        <app-tiers *ngFor="let rank of tierList index as i" 
            (onDropChange)="onDropChange($event)"
            [i]="i" 
            [rank]="rank" 
            [colorData]="colorData"
            [tierData]="tierData.sort()"
            class="flex justify-baseline items-center bg-slate-700 border-solid border-2 border-slate-600">
        </app-tiers>
    </ul>
</div> 
